body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form {
margin: 0 auto;
width:350px;
text-align: center;
background-color: rgba(255, 255, 255, 0.33);
padding: 50px;
border-radius: 15px 50px 30px;
}

.comment {
margin: 0 auto;
width:60%;
right: 20px;
text-align: center;
background-color: rgba(255, 255, 255, 0.33);
padding: 10px;
border-radius: 15px 15px;
}

.field{
  width: 100%;
  border-radius: 15px 50px 30px;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
}

.song {
margin: 0 auto;
width:60%;
text-align: center;
background-color: rgba(255, 255, 255, 0.33);
padding: 10px;
border-radius: 15px 50px 30px;
}

.playlist {
margin: 0 auto;
width:45%;
right: 20px;
text-align: center;
background-color: rgba(255, 255, 255, 0.33);
padding: 10px;
border-radius: 15px 15px;
}

#follow-button {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#follow-button:hover {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(50, 255, 50, 0.66);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#upload-button {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#upload-button:hover {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(50, 255, 50, 0.66);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#delete-playlist-button {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 60, 60, 0.75);
  border: 1px;
  border-color: red;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#delete-playlist-button:hover {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 20, 20, 0.85);
  border: 1px;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#delete-song-button {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 60, 60, 0.75);
  border: 1px;
  border-color: red;
  border-radius: 3px;
  width: 75px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#delete-song-button:hover {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 20, 20, 0.85);
  border: 1px;
  border-radius: 3px;
  width: 75px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

.link {
    text-decoration: underline;
    color: black;
}

#counter {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#like-button {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}

#like-button:hover {
  color: #000000;
  font-size: 10pt;
  background-color: rgba(50, 255, 50, 0.66);
  border: 1px;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  top: 50px;
  left: 50px;
  cursor: hand;
}


#player {
    width: 680px;
    height: 550px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
