body {
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh;
}

form {
margin: 0 auto;
width:350px;
text-align: center;
background: #ffffff;
opacity: 0.8;
padding: 50px;
border-radius: 15px 50px 30px;

}

.field{
  width: 100%;
  border-radius: 15px 50px 30px;
  padding: 12px 20px;
  box-sizing: border-box;

}

.field:focus {
    outline: none !important;
    border-color: #49D49D;
    box-shadow: 0 0 10px #719ECE;
}

