{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Add number
{% endblock %}

{% block main %}

   <body>
        <div>
            <p><h1 align="center" color=black>Add number to playlist</h1></p>
        </div>
        <form class="form" action= "/add_number" method="post" name="add_number">
        <div>
            <p align="left"><strong>YouTube link</strong></p>
            <input class="field" id="youtube" name="youtube" type="text" autocomplete="off" placeholder="Enter YouTube link" required>
        </div>
        <p></p>
        <div align = "center">
            <button class="d-block btn btn-outline-light" type="submit" name="button" value="add">Add</button>
        </div>
        </form>
    </body>
{% endblock %}