{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
 <body>

        <form class="form" action= "/change_password" method="POST" name="change_password" >
            <div>
            <p><h3 align="center" color="#ff0000">Change password</h3></p>
        </div>
            <div>
                <p align="left"><strong>Old password</strong></p>
                <input class="form-control" id="old_password" name="old_password" type="password" autocomplete="off" placeholder="Old password" required>
            </div>
            <br>
            <div>
                <p align="left"><strong>New password</strong><br>(Must be at least 8 characters long)</p>
                <input class="form-control" id="new_password" name="new_password" type="password" autocomplete="off" placeholder="New password" required>
            </div>
            <br>
            <div>
                <p align="left"><strong>Confirm new password</strong></p>
                <input class="form-control" id="new_confirmation" name="new_confirmation" type="password" autocomplete="off" placeholder="Repeat new password" required>
            </div>
            <br>
            <div>
                <input class= "btn btn-warning" type="submit" value="Change password!">
            </div>
            <br>
        </form>
    </body>
<script>
const old_password = document.getElementById("old_password");
const new_password = document.getElementById("new_password");
const new_confirmation = document.getElementById("new_confirmation");
const form = document.getElementById("form");

form.addEventListener("submit", function(error) {
    if (old_password.value == ""){
        error.preventDefault();
        old_password.style.borderColor = "red";
        alert("Please enter your old password");
    }
    else if (new_password.value.length < 8){
        error.preventDefault();
        new_password.style.borderColor = "red";
        alert("Make sure your new password is at least 8 characters");
    }
    else if (new_password.value != new_confirmation.value){
        error.preventDefault();
        new_confirmation.style.borderColor = "red";
        alert("Passwords don't match");
    }
});
</script>
{% endblock %}
