{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Create group
{% endblock %}

{% block main %}
    <body>
        <div>
            <p><h1 align="center" color=black>Create a new Playlist!</h1></p>
        </div>
        <form id="form" action= "/create" method="POST" name="create" >
            <div>
                <p align="left"><strong>Name playlist</strong></p>
                <input class="field" id="playlist" name="playlist" type="text" autocomplete="off" placeholder="Enter a playlist name" required>
            </div>
            <br>
            <div>
                <p align="left"><strong>Playlist description</strong><br>
                (optional)</p>
                <input class="field" id="description" name="description" type="text" autocomplete="off" placeholder="Enter a playlist description" required>
            </div>
            <br>
            <div>
                <button class="btn btn-success" type="submit" name="button" value="continue">Create</button>
            </div>
        </form>

    </body>


{% endblock %}