{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Create playlist
{% endblock %}

{% block main %}
    <body>
        <div>
            <p>
                <h1 align="center" color=black>Create a new Playlist!</h1>
            </p>
        </div>
        <form class="form" action= "/create" method="POST" name="create" id="needs-validation">

            <!--ask user to put in playlist name-->
            <div>
                <p align="left">
                    <strong>Name playlist</strong>
                </p>
                <input class="form-control" id="playlist" name="playlist" type="text" autocomplete="off" placeholder="Enter a playlist name" onkeyup= "checking()" required>
                <div class="invalid-feedback" id="took">
                    Provide a username
                </div>
            </div>
            <br>

            <!--allow user to put in a playlist description-->
            <div>
                <p align="left">
                    <strong>Playlist description</strong>
                <br>
                (optional)
                </p>
                <input class="form-control" id="description" name="description" type="text" autocomplete="off" placeholder="Enter a playlist description">
            </div>
            <br>
            <div align="center">
                <input class="d-block btn btn-outline-light" type="submit" value="Create!" id="create">
            </div>
        </form>
    </body>

<script>
// source: https://jsfiddle.net/pmw57/2zqcqpzx/1/
var input = document.querySelector("[name=playlist]");
let took = document.getElementById('took');
let name = document.getElementById("playlist");
console.log(took, name);

function checking() {
    $.get("/check_playlist?playlist=" + name.value, function(main) {
        if (main == false) {
            took.innerHTML = "Playlist name already taken";
            name.setAttribute("class", "form-control is-invalid");
            document.getElementById('create').disabled = true;

        } else {
            took.innerHTML = "Playlist name available";
            name.setAttribute("class", "form-control");
            document.getElementById('create').disabled = false;
        }
    });

}
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementById('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false || name.getAttribute("class") == "form-control is-invalid") {
          event.preventDefault();
          event.stopPropagation();

        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}