{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Login
{% endblock %}
    <head>

    </head>
{% block main %}

   <body>
        <a class="btn btn-primary" href="/register" role="button">Register</a>
   </body>

<script>
const username = document.getElementById("username");
const password = document.getElementById("password");
const form = document.getElementById("form");

form.addEventListener("submit", function(error) {
    if (username.value == ""){
        error.preventDefault();
        username.style.borderColor = "red";
        alert("Please enter your username");
    }
    else if (password.value == ""){
        error.preventDefault();
        password.style.borderColor = "red";
        alert("Please enter your password!");
    }
});
</script>
{% endblock %}