{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    General homepage
{% endblock %}

{% block main %}
   <body>
        <div>
            <p>
                <h1 align="center" color=black>Welcome to VibeCheck!</h1>
            </p>
        </div>
        <div>
            <p>
                <h5 align="center" color=black>Create, share and enjoy playlists built by you and your friends!</h5>
            </p>
        </div>

        <!--allow user to redirect themselves to login or register-->
        <form class="form" action= "/" method="post" name="general_homepage">
            <div align = "center">
                <button class="d-block btn btn-outline-light" type="submit" name="button" value="register">Register</button>
            </div>
            <br>
            <div align = "center">
                <button class="d-block btn btn-outline-light" type="submit" name="button" value="login">Log in</button>
            </div>
        </form>
    </body>
{% endblock %}