{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    General homepage
{% endblock %}

{% block main %}

   <body>
        <div>
            <p><h1 align="center" color=black>Welcome on VibeCheck!</h1></p>
        </div>
        <div>
            <p><h5 align="center" color=black>Discover new playlists!</h5></p>
        </div>
        <form class="form" action= "/" method="post" name="general_homepage">
            <button class="btn btn-success" type="submit" name="button" value="register">Register</button>
            <p> </p>
            <button class="btn btn-success" type="submit" name="button" value="login">Log in</button>
        </form>
    </body>

<script>
const username = document.getElementById("username");
const password = document.getElementById("password");
const form = document.getElementById("form");

form.addEventListener("submit", function(error) {
    if (username.value == ""){
        error.preventDefault();
        username.style.borderColor = "red";
        alert("Please enter your username");
    }
    else if (password.value == ""){
        error.preventDefault();
        password.style.borderColor = "red";
        alert("Please enter your password!");
    }
});
</script>
{% endblock %}