{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Group Profile
{% endblock %}

{% block main %}
        <div align="center">
            <p><h1 align="center"><u>{{ group_name }}</u>  <a href="/upload"><button id="upload-button" type="button">+ Upload</button></a></h5></h1></p>

            {% if creator_id == user_id%}
                <p><h10>You are the creator of this playlist</h10></p>
            {% endif %}
            <br>

            <h5 align="center">{{posts}} song(s) | {{followers}} follower(s) |

            {% if creator_id == user_id%}
                <a href="/deleteplaylist?group_id={{id}}"><button id= 'delete-playlist-button' type="button" onclick= "deleted()">Delete Playlist</button></a>
            {% else %}
                {% if button == "follow"%}
                    <a href="/follow?name={{id}}"><button id="unfollow-button" type="button"><span>Following</span></button></a></h5>
                {% else %}
                    <a href="/follow?name={{id}}"><button id="follow-button"  type="button">+ Follow!</button></a></h5>
                {% endif %}
            {% endif %}

        </div>
            {% if description[0]["description"] %}
            <div class = "comment">
                {{ description[0]["description"] }}
            </div>
            {% endif %}

        <br>
        {% for link in links %}
        <div class= "song">
            <div align="center" color=white>
                <strong>{{link[0][0]["username"]}} uploaded the following song:</strong>
            </div>
            <br>
            <div align="center">
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/{{link[1]}}">
                </iframe>

            {% if link[3] %}
                <div class = "comment">
                    {{ link[3] }}
                </div>
            {% endif %}

            <div>
                <input class="d-block btn btn-outline-light"  type="submit" value="Upvote!"><br>
                {%if link[0]==current_user%}
                    <a href="/deletesong?track_id={{link[4]}}"><button id="delete-song-button" id= 'deletesong' type="button" onclick= "deleted()">Delete</button></a>
                {%endif%}

            </div>
            </div>
                Uploaded at {{link[2]}}
            </div>
        <br>
        {% endfor %}

<script>
    var follow = document.getElementById("follow-button")
    var unfollow = document.getElementById("unfollow-button")


        function deleted() {
            console.log("hoi")
            var returndialog = confirm("Are you sure you want to delete this song.");
            if (returndialog == true) {
                console.log("oke")

            } else {
                console.log("no")
            }
        };

    </script>
{% endblock %}