{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Group Profile
{% endblock %}

{% block main %}
        <div align="center">
            <p><h1 align="center" color=white>{{ group_name }}</h1></p>

            <br>
            <h5 align="center">{{posts}} song(s) | {{followers}} follower(s) | <a href="/follow?name={{id}}"><button id="follow-button" type="button">+ Follow!</button></a></h5>
        </div>
            {% if description[0]["description"] %}
            <div class = "comment">
                {{ description[0]["description"] }}
            </div>
            {% endif %}

        <br>
        {% for link in links %}
        <div class= "song">
            <div align="center" color=white>
                <strong>{{link[0][0]["username"]}} uploaded the following song:</strong>
            </div>
            <br>
            <div align="center">
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/{{link[1]}}">
                </iframe>

            {% if link[3] %}
                <div class = "comment">
                    {{ link[3] }}
                </div>
            {% endif %}

            <div>
                <input class="d-block btn btn-outline-light"  type="submit" value="Upvote!"><br>
                {%if link[0]==current_user%}
                    <button id = '{{ link }}' class="d-block btn btn-outline-light buttondelete" name="buttondelete" type="button" onclick= "deleted()" >Delete</button>
                {%endif%}
            </div>
            </div>
                {% if link[3] %}
                    Uploaded at {{link[2]}}
                {% endif %}
            </div>
        <br>
        {% endfor %}

    <script>
        function deleted() {
            console.log("hoi")
            var returndialog = confirm("Are you sure you want to delete this song.");
            if (returndialog == true) {
                console.log("oke")

            } else {
                console.log("no")
            }
        };

    // }

    // const deletebuttons = document.querySelectorAll(".buttondelete")
    // for (const button of deletebuttons) {
    //     button.addEventListener("click", getinfo())
    // }

    // function getinfo(e) {

    //     var info = document.getElementsByTagName("buttondelete").id;

    //     $ajax({
    //         type: "POST",
    //         url: '{'/delete'}',
    //         data: info
    //         });

    //     }
    //     console.log(e)

    // Functie naar python aanroepen, input = info

    // link python function from javascript (ajax request)

    </script>
{% endblock %}