{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Group Profile
{% endblock %}

{% block main %}
        <div>
            <p><h1 align="center" color=white>{{ group_name }}</h1></p>
            <h5 align="center">{{posts}} song(s) | {{followers}} follower(s)</h5>
        </div>
            {% if description[0]["description"] %}
            <div class = "comment">
                {{ description[0]["description"] }}
            </div>
            {% endif %}

        <form action= "/follow" method="POST" name="follow" class="form">
            <div align="center">
                <input class="form-control" id="follow" name="follow" type="text" autocomplete="off" placeholder="<<TEMPORARY>>" required>
                <input class="d-block btn btn-outline-light" type="submit" value="Follow playlist">
            </div>
        </form>
        <br>
        {% for link in links %}
        <div class= "song">
            <div align="center" color=white>
                <strong>{{link[0][0]["username"]}} uploaded the following song:</strong>
            </div>
            <br>
            <div align="center">
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/{{link[1]}}">
                </iframe>

            {% if link[3] %}
                <div class = "comment">
                    {{ link[3] }}
                </div>
            {% endif %}

            <div>
                <input class="d-block btn btn-outline-light" type="submit" value="Upvote!"><br>
            </div>
            </div>
                {% if link[3] %}
                    Uploaded at {{link[2]}}
                {% endif %}
            </div>
        <br>
        {% endfor %}


{% endblock %}