{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Login
{% endblock %}
    <head>

    </head>
{% block main %}
    <body>
        <div>
            <p><h3 align="center" color="#ff0000">You can log in here.</h3></p>
        </div>
        <form action= "/login" method="POST" name="register" class="form" >
            <div>
                <input class="field" id="username" name="username" type="text" autocomplete="off" placeholder="Enter your username" required>
            </div>
            <br>
            <div>
                <input class="field" id="password" name="password" type="password" autocomplete="off" placeholder="Enter your password" required>
            </div>
            <br>
            <div align="center">
                <input class="d-block btn btn-outline-light" type="submit" value="Log in!">
            </div>
            <br>
            <div>
                Don't already have an account? <a href= "register">Register here!</a>
            </div>
        </form>

<script>
const username = document.getElementById("username");
const password = document.getElementById("password");
const form = document.getElementById("form");

form.addEventListener("submit", function(error) {
    if (username.value == ""){
        error.preventDefault();
        username.style.borderColor = "red";
        alert("Please enter your username");
    }
    else if (password.value == ""){
        error.preventDefault();
        password.style.borderColor = "red";
        alert("Please enter your password!");
    }
});
</script>
{% endblock %}