{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Login
{% endblock %}

{% block main %}
    <body>
        <div>
            <p>
                <h3 align="center" color="#ff0000">You can log in here.</h3>
            </p>
        </div>

        <form action= "/login" method="POST" name="register" class="form" id="needs-validation">
            <!--ask user for their username-->
            <div>
                <input class="form-control" id="username" name="username" type="text" autocomplete="off" placeholder="Enter your username" onkeyup = "checks()" autofocus required>
                <div class="invalid-feedback" id="taken">
                    Provide a username
                </div>
            </div>
            <br>
            <!--ask user for their password-->
            <div>
                <input class="form-control" id="password" name="password" type="password" autocomplete="off" placeholder="Enter your password" onkeyup= "checking()" required>
                <div class="invalid-feedback" id="error">
                    Provide a password
                </div>
            </div>
            <br>
            <!--log user in-->
            <div align="center">
                <input class="d-block btn btn-outline-light" type="submit" value="Log in!">
            </div>
            <br>
            <!--redirect user to register page-->
            <div>
                Don't already have an account?
                <a href= "register">
                    Register here!
                </a>
            </div>
        </form>
{% endblock %}
