{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Playlists
{% endblock %}
    <head>

    </head>
{% block main %}
    <div>
        <p><h1 align="center" color=black>Followed playlists</h1></p>
    </div>
    {% if not ids %}
        <div class = "form">
            <strong>Hmmm... Looks like you're not following any playlists yet!
            <br><br>
            Find new playlists you might like <a href = "https://www.youtube.com/watch?v=QKfkMqqNwWg">here!</strong>
        </div>
    {% else %}
        <div align="center" class="form">
        <ul>
    {% for id in ids %}
        <h5><li><a href="/group_profile?name={{id}}">{{ id }}</a></li></h5>
    {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endblock %}