{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Profile
{% endblock %}
    <head>

    </head>
{% block main %}
    <div align="center">
    <h1>{{ name[0]["username"] }}</h1>

    <h5 align="center">{{uploads}} track(s) uploaded | {{playlists}} playlist(s) followed </h5>
    <p> </p>
    <strong> Liked tracks: </strong>

    {%for link in links%}
    <div class= "song">
        <div align="center" color=white>
            <strong>{{link[2]}} uploaded the following song to </strong><a class = "link "href=/playlist_profile?id={{ link[3]}}><strong>{{ link[3]}}</a></strong>
        </div>
        <br>
        <div align="center">
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/{{link[0]}}">
            </iframe>
        {% if link[1] %}
            <div class = "comment">
                <strong>Description:</strong>
                <br>
                {{ link[1]}}
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}