{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Search
{% endblock %}

{% block main %}
    <body>
        <div>
            <p>
                <h1 align="center" color=black>Find new Playlists!</h1>
            </p>
        </div>
        <form class="form" action= "/search" method="POST" name="search">

            <!--ask user to put in playlist name-->
            <div>
                <p align="left">
                    <strong>Search for playlist by name</strong>
                </p>
                <input class="form-control" id="playlist" name="playlist" type="text" autocomplete="off" placeholder="Enter a playlist name" required>
            </div>
            <br>

            <!--allow user to put in a playlist description-->
            <!--<div>-->
            <!--    <p align="left">-->
            <!--        <strong>Playlist description</strong>-->
            <!--    <br>-->
            <!--    (optional)-->
            <!--    </p>-->
            <!--    <input class="form-control" id="description" name="description" type="text" autocomplete="off" placeholder="Enter a playlist description">-->
            <!--</div>-->
            <br>
            <div align="center">
                <input class="d-block btn btn-outline-light" type="submit" value="Search!" id="search">
            </div>
        </form>
    </body>
{% endblock %}