{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Timeline
{% endblock %}

{% block main %}
    <body>
        <!--display welcome message-->
        <p>
            <h1 align = "center">Welcome home, {{ name[0]["username"]}}!</h1>
        </p>

        {% if not data %}
            <!--if there are no songs uploaded to any followed playlists, allow user to redirect to upload or create form-->
            <div class = "form">
                <strong>
                    Whoops! Looks like there aren't any songs to display here yet!
                    <br>
                    <br>
                    Add a new song to one of your followed playlists <a href = /upload>here!</a>
                    <br>
                    If you're not following any playlists yet, create a new one <a href = /create>here!</a>
                </strong>
            </div>
        {% endif %}

        {% for link in data %}
        <div class= "song">
            <div align="center" color=white>
                <!--show which user uploaded the song-->
                <strong>
                    <a class="link" href="/profile?username={{link[0][0]['username']}}">
                        {{link[0][0]["username"]}}
                    </a>
                </strong>

                uploaded the following song to
                <!--show to which playlist the song was uploaded-->
                <a class = "link" href=/playlist_profile?id={{link[5][0]["playlist_id"]}}>
                    <strong>
                        {{ link[3][0]["playlist_name"] }}:
                    </strong>
                </a>
            </div>
            <br>
            <div align="center">
                <!--use YouTube API to play song-->
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/{{link[1]}}">
                </iframe>

                {% if link[4] %}
                    <!--if song has a description, show-->
                    <div class = "comment">
                        <strong>Description:</strong>
                        <br>
                        {{ link[4] }}
                    </div>
                {% endif %}

                <br>
                <!--display like / unlike buttons depending on whether song was already liked or not-->
                {% if link[8] != "liked" %}
                    <div>
                        {{link[6]}} Likes |
                        <a id="blocked_anchor">
                            <button id="like-button" type="button" onClick="like({{link[7]}})">+ Like!</button>
                        </a>
                    </div>

                {% else %}
                    <div>
                        {{link[6]}} Likes |
                        <a id="blocked_anchor">
                            <button id="like-button" type="button" onClick="like({{link[7]}})">- Unlike</button>
                        </a>
                    </div>
                {% endif %}

                <br>
            </div>
            <!--show when the song was uploaded-->
            Uploaded at {{link[2]}}
        </div>
        <br>
        {% endfor %}
    </body>

<script>
    function like(track_id) {
        let like_button = document.getElementById("like-button");
        document.getElementById("blocked_anchor").addEventListener("click", function(event){
            event.preventDefault();
        });
        $.get("/like?track_id="+track_id, function(liked) {
            if (liked == false) {
                like_button.innerHTML = "+ Like!";
                alert("Removed from your liked songs! The like counter will update on your next page refresh.");
            }
            else {
                like_button.innerHTML = "- Unlike";
                alert("Added to your liked songs! The like counter will update on your next page refresh.");
            }
        })
    }
</script>
{% endblock %}
