{% extends "layout.html" %}

<!DOCTYPE html>

{% block title %}
    Timeline
{% endblock %}
    <head>

    </head>
{% block main %}
        <h1 align = "center">Welcome home, {{ name[0]["username"]}}!</h1>
        <br>

        {% if not data %}
            <div class = "form">
                <strong>Whoops! Looks like there aren't any songs to display here yet!
                <br><br>
                Add a new song to one of your followed playlists <a href = /upload>here!</strong>
            </div>
        {% endif %}
        {% for link in data %}
        <div class= "song">
            <div align="center" color=white>
                <strong><a class="link" href="/profile?username={{link[0][0]['username']}}">{{link[0][0]["username"]}}</strong></a> uploaded the following song to <a class = "link "href=/group_profile?id={{ link[5][0]["group_id"]}}><strong>{{ link[3][0]["group_name"] }}:</a></strong>
            </div>
            <br>
            <div align="center">
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/{{link[1]}}">
                </iframe>

            {% if link[4] %}
                <div class = "comment">
                    <strong>Description:</strong>
                    <br>
                    {{ link[4] }}
                </div>
            {% endif %}


            {% if link[8] != "liked" %}
                <div>
                    {{link[6]}} Likes |
                    <a href="/upvote?track_id={{link[7]}}"><button id="like-button" type="button">+ Like</button></a>
                </div>
            {% else %}
                <div>
                {{link[6]}} Likes |
                <a href="/upvote?track_id={{link[7]}}"><button id="unlike-button" type="button">Liked</button></a>
                </div>
            {% endif %}
                <br>
            </div>
            Uploaded at {{link[2]}}
            </div>
        <br>
        {% endfor %}

{% endblock %}
